[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[FORMAT]
max-line-length=88

[REPORTS]
output-format=colorized

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10
max-public-methods=20 