[MASTER]
ignore=venv,myenv

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,E1101
# E1101: Instance of 'Foo' has no 'bar' member (but some types could not be inferred)

[TYPECHECK]
generated-members=PySide6.QtCore.Qt,PySide6.QtWidgets.QMessageBox,PySide6.QtWidgets.QHeaderView,PySide6.QtWidgets.QTableWidget

[FORMAT]
max-line-length=88

[REPORTS]
output-format=colorized

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10
max-public-methods=20 